.wrapper {
    background-color: #000;
    min-height: 800px;
}

.menu {
    margin-bottom: 0;
    background: rgba(29, 27, 27, 0.1);
}

.navbar-brand {
    color: #fff !important;
}

.search-text input[type="text"] {
    border-radius: 40px;
}